@import "tailwindcss";

/* Fonts */

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Butler";
  src: url("/fonts/Butler-Free-Lgt.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Butler";
  src: url("/fonts/Butler-Free-Rmn.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Butler";
  src: url("/fonts/Butler-Free-Med.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Butler";
  src: url("/fonts/Butler-Free-SBd.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Butler";
  src: url("/fonts/Butler-Free-Bd.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Butler";
  src: url("/fonts/Butler-Free-XBd.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Butler";
  src: url("/fonts/Butler-Free-Blk.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

:root {
  /* Sizing */
  --max-w-desktop: 1440px;
  --max-w-breakout: 1920px;
  --max-w-text: 75ch;
  --mobile-pad-inline: 1.25rem;

  --grid-col: 1fr minmax(0, calc((calc(var(--mobile-pad-inline)) * 2) + var(--max-w-desktop))) 1fr;

  --grid-col-break: 1fr minmax(0, var(--max-w-breakout)) 1fr;

  /* Fonts */
  --font-sans-serif: "Open Sans", sans-serif;
  --font-display: "Butler", serif;

  /* Colors */
  --primary-col: #803125;
  --secondary-col: #ffe5cf;
  --dark-col: #240700;
  --light-col: #f2f2f2;

  /* Text Colors */
  --text-dark: var(--dark-col);
  --text-light: var(--light-col);
}

/* Custom TW grid-cols-var */
@utility grid-cols-max {
  grid-template-columns: var(--grid-col);
}

@utility grid-cols-breakout {
  grid-template-columns: var(--grid-col-break);
}

@theme inline {
  /* Sizing */
  --spacing-text-max: var(--max-w-text);
  --spacing-content-max: var(--max-w-breakout);
  --spacing-mobile-inline: var(--mobile-pad-inline);

  /* Fonts */
  --font-sans: var(--font-sans-serif);
  --font-serif: var(--font-display);

  /* Colors */
  --color-primary: var(--primary-col);
  --color-secondary: var(--secondary-col);
  --color-dark: var(--dark-col);
  --color-light: var(--light-col);

  /* Text Colors */
  --color-text-dark: var(--text-dark);
  --color-text-light: var(--text-light);
}

/* Adding font styletile to TW text-* utility classes.
  - Layering then under @layer base, so @layer utility will still take precadence in case of overriding use cases.
  - Will be easier to configure the font presets this way, with a more unified control & approach.
  - Shouldn't be necessary to add "font-sans" to the sans ones, since that is added to the body parent,
  - and via TW, font families are inherited from parent, but, for the sake of redundancy, it is added anyways.
  */
@layer base {
  .text-9xl {
    @apply font-serif font-medium;
  }
  .text-8xl {
    @apply font-serif font-medium;
  }
  .text-7xl {
    @apply font-serif font-medium;
  }
  .text-6xl {
    @apply font-serif font-medium;
  }
  .text-5xl {
    @apply font-serif font-medium;
  }
  .text-4xl {
    @apply font-sans font-normal;
  }
  .text-3xl {
    @apply font-sans font-normal;
  }
  .text-2xl {
    @apply font-sans font-semibold;
  }
  .text-xl {
    @apply font-sans font-semibold;
  }
  .text-lg {
    @apply font-sans font-semibold;
  }
   .text-base {
    @apply font-sans font-normal;
  }
   .text-sm {
    @apply font-sans font-normal;
  }
   .text-xs {
    @apply font-sans font-normal;
  }
}

@layer base {
  body {
    background: var(--text-light);
    color: var(--text-dark);
    font-family: var(--font-sans-serif);
  }

  /* 
- Grid and grid-cols: Centers elements, and ensures nothing goes beyond 1440 px max w, expect for when breakout is wanted.
- *:col-start-2: Align all direct descendants (child elements) of <main> on middle column.

(Moved to body in layout.js - update me)
- min-h-svh: <main> is never smaller than the smallest visible viewport (fx. prevents hidden content by mobile adress bar)
- min-h-dvh: Always fills the exact visible height, expanding if the address bar (or other UI) disappears.
*/

  main {
    @apply  grid-cols-max auto-rows-min max-w-content-max grid min-h-full gap-y-28 *:col-start-2 *:col-end-auto *:last:mb-28 md:min-h-dvh;
    
    /* Overriding all non-breakout elements padding-inline with the mobile pad.  
      - (grid-cols-max) has been updated to include the mobile-pad-inline on both ends.
      - "!important" is therefore a temporary workaround, until all parent element components have
      - had their inline paddings removed, as that is now automatically applied to all descendant elems.
    
      - To-Do: Update all components to not have "px-" values. 

      */
    > *:not(.col-span-full) {
      padding-inline: var(--mobile-pad-inline)!important;
    }
  }
}
